# Manual prompting with ChatGPT

## Load data

In [5]:
import yfinance as yf

stocks = ['SAN', 'TEF.MC']
df_base = yf.download(stocks, start='2010-01-01')

[*********************100%***********************]  2 of 2 completed

In [6]:
df_base

Price          Close                High                 Low            \
Ticker           SAN    TEF.MC       SAN    TEF.MC       SAN    TEF.MC
Date
2010-01-04  7.052265  7.151775  7.085609  7.151775  6.989745  7.063371
2010-01-05  7.143964  7.140949  7.181476  7.162599  7.068940  7.113887
...              ...       ...       ...       ...       ...       ...
2025-04-09  6.310000  3.889000  6.360000  4.038000  5.810000  3.833000
2025-04-10       NaN  3.980000       NaN  4.229000       NaN  3.933000

Price           Open                Volume
Ticker           SAN    TEF.MC         SAN      TEF.MC
Date
2010-01-04  6.993913  7.063371   2166000.0  21545258.0
2010-01-05  7.139796  7.151774   2169300.0  20230384.0
...              ...       ...         ...         ...
2025-04-09  5.880000  4.011000  20287100.0  28947892.0
2025-04-10       NaN  4.229000         NaN   7880321.0

[3945 rows x 10 columns]

## Calculate metrics

In [3]:
df = df_base['Close']

df = (df
 .loc['2010':]
 .groupby(df.index.year).pct_change(fill_method=None).add(1)
 .groupby(df.index.year).cumprod().sub(1)
 .resample('1YE').last()
 .mul(100)
)

In [4]:
df.style

## Interpretation with AI

1. Copy table to clipboard
2. Create a prompt for ChatGPT in [this folder](../prompts/README.md)
3. Paste table into ChatGPT, along with the prompt
4. Paste the response below

Aquí están algunas explicaciones sobre los valores más significativos, tanto positivos como negativos, en los retornos acumulados anuales de los activos financieros, respaldados por noticias:

1. **Apple (AAPL) 2010-2020**:
   - **2010 (50.72%)**: Apple tuvo un excelente año debido al lanzamiento del iPhone 4 y el iPad original, ambos revolucionarios en sus respectivas categorías. Estos productos incrementaron significativamente las ventas y los ingresos de la compañía【7†source】.
   - **2014 (42.63%)**: En este año, Apple realizó una división de acciones 7:1 en junio, lo que hizo que sus acciones fueran más accesibles para los inversores. Además, el lanzamiento del iPhone 6 y 6 Plus impulsó las ventas a nuevos récords【8†source】【16†source】.
   - **2020 (79.62%)**: En medio de la pandemia de COVID-19, Apple lanzó el iPhone 12 con tecnología 5G y experimentó un aumento significativo en la demanda de sus productos y servicios debido al aumento del trabajo y estudio desde casa【15†source】【17†source】.

2. **Tesla (TSLA) 2020 (707.40%)**:
   - Tesla tuvo un crecimiento impresionante en 2020 impulsado por varios factores, incluyendo su inclusión en el índice S&P 500, lo cual atrajo una gran cantidad de inversiones. Además, reportó entregas récord de vehículos y continuó expandiéndose en nuevos mercados【16†source】.

3. **Amazon (AMZN) 2015 (119.07%)**:
   - Amazon experimentó un aumento significativo en 2015 gracias al rápido crecimiento de Amazon Web Services (AWS), que se convirtió en un importante motor de ingresos. El evento Prime Day también contribuyó al incremento en las ventas y al rendimiento positivo de las acciones【15†source】.

4. **Meta (META) 2013 (95.18%)**:
   - En 2013, Facebook (ahora Meta) tuvo un año excepcional debido a su salida a bolsa y su creciente popularidad y expansión global. La compañía también comenzó a monetizar su plataforma móvil de manera más efectiva, lo que impulsó los ingresos y el precio de sus acciones【15†source】.

5. **Microsoft (MSFT) 2019 (58.26%)**:
   - Microsoft tuvo un gran desempeño en 2019 gracias al crecimiento continuo de sus servicios en la nube, especialmente Azure, que se convirtió en un motor clave de ingresos. También se beneficiaron de la expansión de su suite Office 365 y la adquisición de GitHub【15†source】.

Estos eventos reflejan cómo los lanzamientos de productos innovadores, las estrategias empresariales y los cambios en el mercado pueden influir significativamente en los retornos de las acciones. Para más detalles, puedes consultar las siguientes fuentes:
- [Apple Historical Data](https://www.nasdaq.com)
- [Apple Stock News](https://stockanalysis.com)
- [Apple Stock Price History](https://markets.businessinsider.com)